.HomePage{
  text-align: center; /* Centriraj tekst unutar glavnog dijela */
  margin-top: 90px; /* Prilagodi margine prema potrebama */
  color: white;
}
.HomePage h1{
  font-size: 48px;
}
.HomePage p{
  font-size: 22px;
}
.HomePage input::placeholder{
  color: white;
}
.HomePage input{
  padding: 14px;
  border: none;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.1); /* Prozirna bijela boja */
  color: white; /* Boja teksta */
  outline: none; /* Uklonite obris kada je input fokusiran */
  vertical-align: middle;
  margin: 5px;
}
.HomePage button{
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 24px;
  border-color: red;
  border-radius: 0.1875rem;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  cursor: pointer;
  font-weight: 600;
  vertical-align: middle;
}
.HomePage button:hover{
  background-color: rgb(221, 0, 0);
}